# Naive Bayes

En teoría de la probabilidad y minería de datos, un clasificador Naive Bayes es un clasificador probabilístico fundamentado en el teorema de Bayes y algunas hipótesis simplificadoras adicionales.

[Colab](https://drive.google.com/file/d/1tCGWhsdf2O4GlbAd5AoAvinq-YGjUdj9/view?usp=sharing)

Importamos:

    -panda: extensión de NumPy para manipulación y análisis de datos para el lenguaje de programación Python
    -numpy: extensión de Python, que le agrega mayor soporte para vectores y matrices
    -matplotlib.pyplot: es una colección de funciones que hacen que matplotlib funcione como MATLAB. Cada pyplotfunción realiza algún cambio en una figura
    -seaborn: Proporciona una interfaz de alto nivel para dibujar gráficos estadísticos atractivos e informativos
    -Scikit-learn es una biblioteca de software de aprendizaje automático para el lenguaje de programación Python

¿me conviene comprar casa ó alquilar?

## Configuracion

Instalamos anaconda [Desktop] 

-Proporciona una interfaz de alto nivel para dibujar gráficos estadísticos atractivos.

In [ ]:
!conda install -c anaconda seaborn -y

/bin/bash: conda: command not found

## Ejemplo basico

Creación de variables

In [ ]:
weather=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny','Rainy','Sunny','Overcast','Overcast','Rainy']
play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

Importar libreria preprocessing, para tranformar los datos a numeros

In [ ]:
from sklearn import preprocessing

#crear labelEncoder
le = preprocessing.LabelEncoder()

# Convertir string a numbers.
weather_encoded = le.fit_transform(weather)

Imprimimos lo que convertimos

In [ ]:
print("weather:",weather_encoded)
print("Play:   ",label)

weather: [2 2 0 1 1 1 0 2 2 1 2 0 0 1]
Play:    [0 0 1 1 1 0 1 0 1 1 1 1 1 0]

Importamos e instanciamos la clase GaussianNB

In [ ]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
#Gaussian Classifier
model = GaussianNB()

Convertimos el array a matriz

In [ ]:
weather_encoded_array = [[w] for w in weather_encoded]
print("Temp:",ca)
print("Play:",label)

Temp: [[2], [2], [0], [1], [1], [1], [0], [2], [2], [1], [2], [0], [0], [1]]
Play: [0 0 1 1 1 0 1 0 1 1 1 1 1 0]

Entrenamos y predecimos

In [ ]:
#entrenar
model.fit(weather_encoded_array,label)

#predecir
predicted= model.predict([[2]]) 
# 2:Sunny -> valor esperado 0
# 0:overcast -> valor esperado 1

print("Predicted Value:", predicted)

Predicted Value: [0]

## Importacion de librerias:

    -panda: extensión de NumPy para manipulación y análisis de datos para el lenguaje de programación Python
    -numpy: extensión de Python, que le agrega mayor soporte para vectores y matrices
    -matplotlib.pyplot: es una colección de funciones que hacen que matplotlib funcione como MATLAB. Cada pyplotfunción realiza algún cambio en una figura
    -seaborn: Proporciona una interfaz de alto nivel para dibujar gráficos estadísticos atractivos e informativos
    -Scikit-learn es una biblioteca de software de aprendizaje automático para el lenguaje de programación Python

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sb

%matplotlib inline
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')

## Para trozar la data para la prueba y entrenamiento
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
## matriz de confucion
from sklearn.metrics import confusion_matrix
## Clase de clasificacion para naive bayes
from sklearn.naive_bayes import GaussianNB
## sacar mejores datos
from sklearn.feature_selection import SelectKBest

## Importacio de CSV

> REFERENCIAS:

- Ingresos y gastos son mensuales de 1 personas o 2 si están casados.
- trabajo: 
  - 0-Sin trabajo 
  - 1-Autonomo 
  - 2-Asalariado 
  - 3-Empresario 
  - 4-Autonomos 
  - 5-Asalariados 
  - 6-Autonomo y Asalariado 
  - 7-Empresario y Autonomo 
  - 8 Empresarios o empresario y autónomo
- Estado_civil: 
  - 0-soltero 
  - 1-casado 
  - 2-divorciado
- Hijos: Cantidad de hijos
- **Comprar:**
  - 0-Alquilar 
  - 1-Comprar casa
- Hipoteca fija a 30 años con interes

Descargamos el csv y visualizamos 10 datos

In [ ]:
!wget https://www.aprendemachinelearning.com/wp-content/uploads/2018/08/comprar_alquilar.csv
dataframe = pd.read_csv(r'comprar_alquilar.csv')
dataframe.head(10)

--2020-08-05 08:33:38--  https://www.aprendemachinelearning.com/wp-content/uploads/2018/08/comprar_alquilar.csv
Resolving www.aprendemachinelearning.com (www.aprendemachinelearning.com)... 104.27.135.216, 172.67.153.167, 104.27.134.216
Connecting to www.aprendemachinelearning.com (www.aprendemachinelearning.com)|104.27.135.216|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8014 (7.8K) [text/csv]
Saving to: ‘comprar_alquilar.csv.3’

comprar_alquilar.cs 100%[===================>]   7.83K  --.-KB/s    in 0s

2020-08-05 08:33:39 (25.6 MB/s) - ‘comprar_alquilar.csv.3’ saved [8014/8014]

   ingresos  gastos_comunes  pago_coche  ...  hijos  trabajo  comprar
0      6000            1000           0  ...      2        2        1
1      6745             944         123  ...      3        6        0
2      6455            1033          98  ...      1        8        1
3      7098            1278          15  ...      0        3        0
4      6167             863         223  ...      0        3        1
5      5692             911          11  ...      4        5        1
6      6830            1298         345  ...      1        5        1
7      6470            1035          39  ...      0        1        0
8      6251            1250         209  ...      0        3        1
9      6987            1258         252  ...      1        7        1

[10 rows x 10 columns]

## Explorando y editando datos

Cantidad de muestras de comprar o alquilar:

In [ ]:
print(dataframe.groupby('comprar').size())

comprar
0    135
1     67
dtype: int64

Histograma de las características quitando la columna de resultados (comprar):

In [ ]:
dataframe.drop(['comprar'], axis=1).hist()
plt.show()

Crear dos columnas columnas:
- gastos: Agrupar los diversos que se tengan
- financiar: Resta del precio de la vivienda con los ahorros.

In [ ]:
dataframe['gastos']=(dataframe['gastos_comunes']+dataframe['gastos_otros']+dataframe['pago_coche'])

dataframe['financiar']=dataframe['vivienda']-dataframe['ahorros']

## Quitamos los gastos, ya que lo tenemos calculado en la columna gastos
dataframe.drop(['gastos_comunes','gastos_otros','pago_coche'], axis=1).head(10)

   ingresos  ahorros  vivienda  ...  comprar  gastos  financiar
0      6000    50000    400000  ...        1    1600     350000
1      6745    43240    636897  ...        0    1496     593657
2      6455    57463    321779  ...        1    1926     264316
3      7098    54506    660933  ...        0    1547     606427
4      6167    41512    348932  ...        1    1606     307420
5      5692    50875    360863  ...        1    1247     309988
6      6830    46761    429812  ...        1    1952     383051
7      6470    57439    606291  ...        0    1856     548852
8      6251    50503    291010  ...        1    2030     240507
9      6987    40611    324098  ...        1    1755     283487

[10 rows x 9 columns]

Resumen estadístico que nos brinda la librería Pandas con describe():

In [ ]:
reduced = dataframe.drop(['gastos_comunes','gastos_otros','pago_coche'], axis=1)
reduced.describe()

          ingresos       ahorros  ...       gastos      financiar
count   202.000000    202.000000  ...   202.000000     202.000000
mean   4958.995050  38749.668317  ...  1698.752475  334599.970297
std    1682.862556  17365.231870  ...   324.838005  126607.099497
min    2008.000000  10319.000000  ...  1007.000000  154716.000000
25%    3513.750000  24964.250000  ...  1430.500000  240410.250000
50%    4947.500000  38523.000000  ...  1669.500000  301177.000000
75%    6374.500000  52150.750000  ...  1928.000000  393413.000000
max    7984.000000  69934.000000  ...  2543.000000  618621.000000

[8 rows x 9 columns]

Selecionamos las 5 mejores columnas (sus indices) de los datos que tenemos, con la Clase de SkLearn llamada SelectKBest [Referencia](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html)

In [ ]:
X=dataframe.drop(['comprar'], axis=1)
y=dataframe['comprar']

best=SelectKBest(k=5)
X_new = best.fit_transform(X, y)
X_new.shape
selected = best.get_support(indices=True)

## lo guardamos en una variable
used_features =X.columns[selected]

print(used_features)

Index(['ingresos', 'ahorros', 'hijos', 'trabajo', 'financiar'], dtype='object')

## Crear el modelo Gaussian Naive Bayes con SKLearn

-Primero vamos a dividir nuestros datos de entrada en entrenamiento y test.

In [ ]:
# Split dataset in training and test datasets
X_train, X_test = train_test_split(dataframe, test_size=0.2, random_state=6) 
y_train =X_train["comprar"]
y_test = X_test["comprar"]

Y creamos el modelo, lo ponemos a aprender con fit() y obtenemos predicciones sobre nuestro conjunto de test.

In [ ]:
# Instantiate the classifier
gnb = GaussianNB()
# Train classifier
gnb.fit(
    X_train[used_features].values,
    y_train
)
#y_pred = gnb.predict(X_test[used_features])

print('Precisión en el set de Entrenamiento: {:.2f}'
     .format(gnb.score(X_train[used_features], y_train)))
print('Precisión en el set de Test: {:.2f}'
     .format(gnb.score(X_test[used_features], y_test)))

Precisión en el set de Entrenamiento: 0.87
Precisión en el set de Test: 0.90

## Probemos el modelo: ¿Comprar o Alquilar?

Ahora, hagamos 2 predicciones para probar nuestra máquina:

    -En un caso será una familia sin hijos con 2.000€ de ingresos que quiere comprar una casa de 200.000€ y tiene sólo 5.000€ ahorrados.
    -El otro será una familia con 2 hijos con ingresos por 6.000€ al mes, 34.000 en ahorros y consultan si comprar una casa de 320.000€.

In [ ]:
#                 ['ingresos', 'ahorros', 'hijos', 'trabajo', 'financiar']
print(gnb.predict([[2000,        5000,     0,       5,         200000],
                   [6000,        34000,    2,       5,         320000] ]))
#Resultado esperado 0-Alquilar, 1-Comprar casa

[0 1]

Matriz de confusión

In [ ]:
print(confusion_matrix(y_test, y_pred))

[[24  0]
 [ 4 13]]

In [ ]:
print(classification_report(y_test, y_pred))
# Print Test results
print("Total de Muestras en Test: {}\nFallos: {}"
      .format(
          X_test.shape[0],
          (y_test != y_pred).sum()
))